[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
openai = "*"
fpdf = "*"
python-dotenv = "*"
aiohttp = "*"
pytest = "*"
asyncio = "*"
flask = "*"
pymongo = "*"

[dev-packages]
pytest-cov = "*"

[requires]
python_version = "3.10"
