# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
pylint
black
openai
fpdf
speechrecognition
python-dotenv
aiohttp
pytest
asyncio
flask
pyaudio
pymongo